@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection{
    background-color: rgb(7, 176, 237);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(25, 167, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 400px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 15px;
}
.container :where(button , textarea){
    border: none;
    width: 100%;
    outline: 0;
    padding: 15px 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px 0;
}

button{
    background-color: rgb(168, 211, 228);
    padding-top: 7px;
    transition: all 1s;
}

button:hover{
    background-color: rgb(147, 226, 255);
}

.container textarea{
    border: 1px solid rgb(7, 176, 237) ;
}